USE [master]
GO
/****** Object:  Database [PhamTungSon]    Script Date: 12/07/2024 8:46:31 CH ******/
CREATE DATABASE [PhamTungSon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhamTungSon', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhamTungSon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhamTungSon_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\PhamTungSon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhamTungSon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhamTungSon]
GO
/****** Object:  Table [dbo].[Pts_SACH]    Script Date: 12/07/2024 8:46:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pts_SACH](
	[Pts_MaSach] [nchar](10) NOT NULL,
	[Pts_TenSach] [nvarchar](50) NULL,
	[Pts_SoTrang] [int] NULL,
	[Pts_NamXB] [int] NULL,
	[Pts_MaTG] [nchar](10) NULL,
	[Pts_TrangThai] [bit] NULL,
 CONSTRAINT [PK_Pts_SACH] PRIMARY KEY CLUSTERED 
(
	[Pts_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pts_TACGIA]    Script Date: 12/07/2024 8:46:31 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pts_TACGIA](
	[Pts_MaTG] [nchar](10) NOT NULL,
	[Pts_TenTacGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pts_TACGIA] PRIMARY KEY CLUSTERED 
(
	[Pts_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pts_SACH] ([Pts_MaSach], [Pts_TenSach], [Pts_SoTrang], [Pts_NamXB], [Pts_MaTG], [Pts_TrangThai]) VALUES (N'1         ', N'Anna Karenina ', 500, 1873, N'N01       ', 1)
GO
INSERT [dbo].[Pts_TACGIA] ([Pts_MaTG], [Pts_TenTacGia]) VALUES (N'N01       ', N'Lev Nikolayevich Tolstoy')
GO
ALTER TABLE [dbo].[Pts_SACH]  WITH CHECK ADD  CONSTRAINT [FK_Pts_SACH_Pts_TACGIA] FOREIGN KEY([Pts_MaTG])
REFERENCES [dbo].[Pts_TACGIA] ([Pts_MaTG])
GO
ALTER TABLE [dbo].[Pts_SACH] CHECK CONSTRAINT [FK_Pts_SACH_Pts_TACGIA]
GO
USE [master]
GO
